<div class="container">
    <h3 align="center">PENDING USER AUTHORIZATIONS</h3>

    <table class="table table-striped">

        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Accept/Reject</th>
        </tr>

        <tr ng-repeat="datalist in datalists">
            <th id="id" scope="row">{{$index}}</th>
            <td id="date">{{datalist.name}}</td>
            <td id="edit-del">
                <div class="row" align="center">

                    <button type="button" class="btn btn-success" ng-click="approve(datalist.email)"
                            style="margin: 1px 1px"><span><i class="fa fa-check"></i></span>
                        Accept
                    </button>

                    <button type="button" class="btn btn-danger" ng-click="reject(datalist.email)"
                            style="margin: 1px 1px"><span><i class="fa fa-trash-o"></i></span>
                        Reject
                    </button>

                    <button type="button" class="btn btn-info" ng-click="showInModal(datalist.name,datalist.email,datalist.picture)"
                            style="margin: 1px 1px"><span><i class="fa fa-info"></i></i></span>
                        Info
                    </button>
                </div>
            </td>
        </tr>

    </table>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User information</h4>
                </div>
                <div class="modal-body" align="center">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="thumbnail">
                                <img src="{{modalPicture}}">

                                <div class="caption">
                                    <h3>Description</h3>
                                    <p>{{modalName}}</p>
                                    <p>e-mail : {{modalEmail}}</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Approve</a>
                                        <a href="#" class="btn btn-danger" role="button">Reject</a></p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

